footer {
    display:flex;
    flex-wrap: nowrap;
}

main{
    display:flex;
    flex-wrap: wrap;
}

#home {
    flex-basis: 100%;
}

#themes 
{
    flex-basis: 100%;
    display:flex;
    flex-wrap: nowrap;
}

.rubriques {
    flex-basis: 20%;
    flex-grow: 1;
}