body{
    width:1000px;
    height:492px;
    font-size: 20px;
    padding:1em;
    margin:2em;
    

}

section, h1, p{
    border: solid thin black;
    padding:1em;
    margin:2em;
}
section{
    display: flex;
    flex-wrap: wrap;
    }
p{
    flex-basis: 50%;
    flex-grow: 1;
    }

