body{
    width:73.207%;
    display:flex;
    
}

.gris { 
    background-color: grey;
    width:100%;
}

.vert { 
    background-color: lawngreen;
    width:100%;
}

.pink { 
    background-color: pink;
    width:100%;
}

article {
    background-color: lightyellow;
    width:100%;
     
}

article h1 {
    background-color: transparent;
    width:100%;
}

article p {
    background-color: lightblue;
    margin:2px;
    width:100%;
}